<table class="table">
  <thead>
    <tr>

      <th scope="col">Nombre</th>
      <th scope="col">Last</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let estudiante of estudiantes1">
      <td> {{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellido }}</td>
      <td>{{ estudiante.password }}</td>
    </tr>
  </tbody>
</table>



<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>

          <!--INICIO: BOTON REGISTRAR-->
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="Registrar Alumno" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                      <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>
          <!--FIN: BOTON REGISTRAR-->
          <p-table #dt [value]="estudiantes" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <!--INICIO: TITULO TABLA-->
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Administrar Alumnos</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>

              <!--FIN: TITULO TABLA-->
              <!--INICIO: CABECERA TABLA-->
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="id">Id</th>
                      <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                      <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                      <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon></th>
                      <th pSortableColumn="category">Usuario </th>
                      <th pSortableColumn="rating">Telefono </th>
                      <th pSortableColumn="inventoryStatus">Dni</th>
                      <th></th>
                  </tr>
              </ng-template>
              <!--IFN: CABECERA TABLA-->
              <!--INICIO: CUERPO TABLA-->
              <ng-template pTemplate="body" let-estudiante let-rowIndex="rowIndex">
                  <tr>
                      <td>
                          <p-tableCheckbox [value]="estudiante"></p-tableCheckbox>
                      </td>
                      <td style="width:1%; min-width:10rem;"><span class="p-column-title">Id</span>
                        {{ rowIndex + 1 }}

                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Nombre</span>
                          {{estudiante.nombre}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Apellido</span>
                        {{estudiante.apellido}}
                    </td>

                      <td style="width:14%; min-width:8rem;">
                          <span class="p-column-title">Correo</span>
                          {{estudiante.email}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Usuario</span>
                          {{estudiante.username}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Telefono</span>
                        {{estudiante.telefono}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Dni</span>
                        {{estudiante.dni}}
                      </td>


                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(estudiante)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(estudiante)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
              <!--FIN: CUERPO TABLA-->
          </p-table>
      </div>

      <!--FIN: TABLA-->

      <!--INICIO: cuadro de dialgo de nuevo registro-->

      <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Registro Alumno" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">

              <div class="field">
                  <label for="name">Name</label>
                  <input type="text" pInputText id="name" [(ngModel)]="estudiante.nombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !estudiante.nombre}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && !estudiante.nombre">Name is required.</small>
              </div>
              <div class="field">
                  <label for="description">Description</label>
                  <textarea id="description" pInputTextarea [(ngModel)]="estudiante.apellido" required rows="3" cols="20"></textarea>
              </div>
              <div class="field">
                  <label for="status">Inventory Status</label>


              </div>

              <div class="field">
                  <label class="mb-3">Category</label>
                  <div class="formgrid grid">
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="estudiante.nombre"></p-radioButton>
                          <label for="category1">Accessories</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="estudiante.nombre"></p-radioButton>
                          <label for="category2">Clothing</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="estudiante.nombre"></p-radioButton>
                          <label for="category3">Electronics</label>
                      </div>
                      <div class="field-radiobutton col-6">
                          <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="estudiante.nombre"></p-radioButton>
                          <label for="category4">Fitness</label>
                      </div>
                  </div>
              </div>

              <div class="formgrid grid">
                  <div class="field col">
                      <label for="price">Price</label>
                      <p-inputNumber id="price" [(ngModel)]="estudiante.nombre" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                  </div>
                  <div class="field col">
                      <label for="quantity">Quantity</label>
                      <p-inputNumber id="quantity" [(ngModel)]="estudiante.nombre"></p-inputNumber>
                  </div>
              </div>
          </ng-template>

          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
          </ng-template>
      </p-dialog>
      <!--FIN: cuadro de dialgo de nuevo registro-->

      <!--INICIO: cuadro de confirmación de eliminar-->

      <p-dialog [(visible)]="deleteProductDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="estudiante">Are you sure you want to delete <b>{{estudiante.nombre}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductsDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected products?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>

      <!--FIN: cuadro de confirmación de eliminar-->


  </div>
</div>
