<div class="grid p-fluid">
  <div class="col-12 md:col-6">
    <div class="card">
      <div class="w-100 text-center">
        <h3 class="mb-4">Editar Registro</h3>
        <hr style="border-top: 6px solid rgb(226, 89, 9); width: 100%;">
      </div>
      <form [formGroup]="bookForm" (ngSubmit)="onUpload()">
        <h5>Título</h5>
        <span class="p-float-label">
          <input id="title" type="text" pInputText formControlName="title">
          <label for="title">Nombre del archivo</label>
        </span>

        <h5>Descripción</h5>
        <span class="p-float-label">
          <textarea id="description" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
          <label for="description">Descripción del archivo</label>
        </span>

        <h5>Portada</h5>
        <div class="grid formgrid">
          <div class="form-group">
            <label for="coverFile">Seleccionar portada</label>
            <input
              type="file"
              class="form-control"
              id="coverFile"
              (change)="onCoverSelect($event)"
              accept="image/*"
            />
          </div>
        </div>

        <h5>Archivo</h5>
        <div class="grid formgrid">
          <div class="form-group">
            <label for="contentFile">Seleccionar archivo</label>
            <input
              type="file"
              class="form-control"
              id="contentFile"
              (change)="onContentSelect($event)"
              accept="application/pdf"
            />
          </div>
        </div>

        <hr>
        <div class="grid formgrid">
          <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
            <button
              pButton
              pRipple
              label="Cancelar"
              class="p-button-secondary"
              routerLink="/listar-contenido-adicional">
            </button>
          </div>
          <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
            <button
              pButton
              pRipple
              label="Guardar"
              class="p-button-success"
              type="submit"
              [disabled]="bookForm.invalid || !coverFile || !contentFile">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
